/**
 * Default transform mixin
 */

@mixin mangui-transform($transition...) {
    -webkit-transform: $transition;
       -moz-transform: $transition;
        -ms-transform: $transition;
         -o-transform: $transition;
            transform: $transition;
}

@mixin mangui-transform-origin($origin) {
    -webkit-transform-origin: $origin;
       -moz-transform-origin: $origin;
        -ms-transform-origin: $origin;
         -o-transform-origin: $origin;
            transform-origin: $origin;
}