/**
 * Portfolio header styles
 */

.o-header--portfolio--purely-tutors {
	background: $colour--brand-tutors;


	.c-portfolio-header__gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4E6190+0,25396C+65 */
		background: #4E6190; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #4E6190 0%, #25396C 65%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #4E6190 0%,#25396C 65%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #4E6190 0%,#25396C 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E6190', endColorstr='#25396C',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}