/**
 * Portfolio header styles
 */

.o-header--portfolio--uvg {
	background: $colour--brand-theuvg;


	.c-portfolio-header__gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,2f2f2f+65 */
		background: #545454; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #545454 0%, #2f2f2f 65%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #545454 0%,#2f2f2f 65%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #545454 0%,#2f2f2f 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#2f2f2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}